// Page: Header
// -----------------------------------------------------------------------------
.page__header {

}

// Page: Content
// -----------------------------------------------------------------------------
.page__content {

}

// Page: Footer
// -----------------------------------------------------------------------------
.page__footer {
  padding-top: $spacer;
  padding-bottom: $spacer;
  &:empty {
    padding: 0;
  }
}
