// Nav
// -----------------------------------------------------------------------------

nav.navbar {
  transition: all 0.5s;
  .navbar-nav {
    > .nav-item {
      padding: 0 $navbar-nav-link-padding-x * 0.25;
      > .nav-link {
        position: relative;
        padding: $navbar-nav-link-padding-y $navbar-nav-link-padding-x * 0.75;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $dropdown-link-hover-bg;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s;
        }
      }
      &.active, &:hover {
        > .nav-link:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }
}

// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
  }
}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {

  @include hover {

  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}
