// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

@import "~bootstrap/scss/variables";

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Roboto", $font-family-sans-serif;
// stylelint-enable value-keyword-case


$h1-font-size: $font-size-base * 2.25;

// Navbar
$navbar-dark-color: rgba($white, .8);
$navbar-nav-link-padding-x: 1rem;
$navbar-nav-link-padding-y: 1rem;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width: 20rem;
$dropdown-padding-y: 0;
$dropdown-item-padding-y: .75rem;
$dropdown-item-padding-x: 1.5rem;
$dropdown-border-radius: 0;
$dropdown-inner-border-radius: 0;

// Breadcrumbs

$breadcrumb-bg: transparent;
$breadcrumb-active-color: $body-color;
$breadcrumb-divider-color: lighten($breadcrumb-active-color, .8);
$breadcrumb-divider: quote("/");
$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: .5rem;
$breadcrumb-margin-bottom: 0;


// Jumbotron

$jumbotron-color: $white;
$jumbotron-padding: 6rem;
