// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
  }
}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {

  @include hover-focus-active {
    outline: none!important;
  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}
