.navbar {
  .container {
    position: relative;
    .navbar-toggler {
      position: absolute;
      right: $navbar-nav-link-padding-x / 2 - $navbar-toggler-padding-x;
      top: $navbar-nav-link-padding-y / 2 - $navbar-toggler-padding-y;
      z-index: $zindex-fixed + 10;
      border: none;
      outline: none;
    }
  }
}

.vertical-tabs__panes {
  > .card {
    border: none;
  }
}

// Off canvas dialog.
.ui-widget.ui-dialog.ui-dialog-off-canvas {
  min-height: 100vh;
  background-color: $body-bg;
  border: 0 none;
  padding: 0;
  box-shadow: 0 0 48px rgba(0, 0, 0, .075);
  z-index: 1100;

  .ui-dialog-titlebar {
    background-color: $gray-300;
    border-radius: 0;
    border-width: 0 0 1px;
    padding: $navbar-nav-link-padding-y $navbar-nav-link-padding-x;
    .ui-dialog-title {
      margin: 0;
    }
    .ui-dialog-titlebar-close {
      border: none;
      background: none;
      &:focus {
        outline: none;
      }
    }
  }
  .ui-resizable-w {
    border: 0 none;
    background-color: transparent;
    width: 4px;
    left: -4px;
    &:hover {
      background-color: $gray-400;
    }
  }
  .ui-dialog-content {
    padding: 1rem;
  }
}
