/*.block--login-button {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' clip-rule='evenodd' d='M12 12.5a5.5 5.5 0 100-11 5.5 5.5 0 000 11z' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath fill='none' d='M1.5 22v-1c0-3.5 6.096-5 10.5-5s10.5 1.5 10.5 5v1M22.5 22s-6.395.5-10.5.5S1.5 22 1.5 22' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") no-repeat center center;
  background-size: 30px 30px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  > a {
    color: transparent;
  }
}
*/
