.block--account-button {
  .navbar-nav > .nav-item {
    position: relative;
    &.mdi:before {
      position: absolute;
      top: 50%;
      margin-top: -18px;
    }
    > .nav-link {
      padding-left: 1.75rem!important;
    }
    .ajax-progress {
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}
