// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header#hero {
  width: 100%;
  min-height: 78vh;
  //margin-bottom: -1rem; // ???
  padding-top: $font-size-base * $line-height-base + $navbar-nav-link-padding-y * 2; // height of navbar...
  position: relative;
  background: $gray-800 url('../../assets/img/front/bg-masthead.jpg') no-repeat fixed center bottom;
  @include background-cover;
  color: $jumbotron-color;
  h1 {
    color: inherit;
  }
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
  }
}
.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
  .features-icons-item {
    max-width: 20rem;
    .features-icons-icon {
      height: 7rem;
      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}
.call-to-action {
  position: relative;
  background-color: $gray-800;
  background: url('../../assets/img/front/bg-footer.jpg') no-repeat fixed center top;
  @include background-cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
}
.showcase-row {
  .showcase {
    .showcase-text {
      padding: 1rem;
    }

    .showcase-img {
      min-height: 30rem;
      max-height: 30rem;
      overflow: hidden;

      img {
        min-width: 100%;
      }
    }

    @media (min-width: 768px) {
      .showcase-text {
        padding: 3rem;
      }
    }
  }
  &:nth-child(odd) {
    .showcase-text {
      order: 1;
    }
    .showcase-img {
      order: 2;
    }
  }
}
.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
  .testimonial-item {
    max-width: 18rem;
    img {
      max-width: 12rem;
      box-shadow: 0 5px 5px 0 $gray-500;
    }
  }
}
